extends layout

block head
    title="Recipe: " + data.name

block content
    h1= data.name
        h2 Ingredients
        ul
            each ingredient in data.ingredients
                li= ingredient
        div.images 
            each image in data.images
                img(src=image)
            