extends layout

block head
    title="All Recipes"

block content
    div.content
        h1="Todas las Recetas!"
        div.recipes
            ul
                each recipe in data
                    a(href="/recipe/" + recipe.id)
                        li
                            p= recipe.name
                            img(src=recipe.images[0])