extends layout

block head
    title="All Recipes"

block content
    ul
        h1= "Guten Tag"
        each item in data 
            li 
                a(href="/recipe/" + item.id )
                    p= item.name
                    img(src=item.images[0])