*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.root {
  background: url('/img/pattern.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1140px;
  background: #fbfbfd;
  border-radius: 0.5rem;
  padding: 5rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: lighter;
}

ul {
  background-color: #eff0f2;
  border: 10px double grey;
  padding: 2.5rem;
}

ul a {
  display: block;
  text-decoration: none;
  margin: 2.5rem 0;
  transition: background 0.3s ease-in;
}

ul a:visited {
  color: none;
}

ul a:hover {
  background: #dcdcdd;
}

ul a li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul a li p {
  color: #0176c7;
  font-size: 2.1rem;
  flex-basis: 40%;
  font-weight: lighter;
  text-align: center;
}

ul a li img {
  width: 100%;
  flex-basis: 60%;
}
